header {
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 30px;
  position: relative;
}

#menu-button {
  display: none;
}

#header-menu {
  padding: 0;
  display: block;
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
}

#header-menu li:hover {
  color: var(--primary-orange);
}

@media (min-width: 768px) and (max-width: 990px) {
  #header-menu {
    gap: 15px !important;
  }
}

@media screen and (max-width: 768px) {
  #menu-button {
    display: block;
  }

  header {
    border: 0 !important;
  }

  #header-menu {
    display: none !important;
  }
}
