.small-product-images {
  display: inline-block;
}

.small-product-images-container {
  display: grid;
  /* 125px */
  grid-template-columns: repeat(
    auto-fit,
    clamp(4.6875rem, -2.1875rem + 11.1111vw, 7.8125rem)
  );
  justify-content: space-between;
}

.small-product-images-container div {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin-inline: auto;
}

.small-product-images-container div img {
  display: block;
  /* width: 100%; */
  /* height: 100%; */

  object-fit: cover;
  border-radius: 12px;
  border: 5px solid #fff;
  transform: scale(1.08);
}

.image-clicked {
  display: inline-block;
  position: relative;
  border-radius: 12px;
}

.image-clicked::after {
  border: 3px solid var(--primary-orange) !important;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.8);
}
