@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

:root {
  --primary-orange: hsl(26, 100%, 55%);
  --primary-white: hsl(25, 100%, 94%);

  --dark-blue: hsl(220, 13%, 13%);
  --dark-grey: hsl(219, 9%, 45%);
  --light-grey: hsl(220, 14%, 75%);
  --white: hsl(0, 0%, 100%);

  --tablet: 990px;
  --mobile: 762px;

  --radius: 10px;
}

@media screen and (max-width: 768px) {
  .col-12 {
    padding: 0;
  }
}
